figure {
  margin: 0;
  padding: 0;
}
figcaption {
  background-color: #001219;
  color: white;
  padding: 1rem;
}
figcaption * {
  margin: 0.5rem;
}
img {
  width: 100%;
}

@media (min-width: 600px) {
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1%;
  }
  figure {
    flex-basis: 48%;
  }
}
