<section id="contact">
  <h2>Hey <span>There!!</span></h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium id vel
    vero! Cupiditate, cumque dolore voluptas voluptatem sint dignissimos sunt
    distinctio, repellendus porro blanditiis dolorum doloremque exercitationem
    molestias numquam nam veritatis suscipit quasi optio maiores quos. Minus
    alias amet quae laboriosam ut ad, consequuntur, reiciendis eum voluptates,
    laudantium magnam facere!
  </p>
</section>
