/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* turn off margin and padding and set font size for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
/* turn off bullets, push the box down the page, set a border plus width and height for demo purpose */
ul {
  padding: 0;
  list-style-type: none;
  margin: 5rem auto;
  border: 10px dotted #9b2226;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}
/* set border background to see each li*/
li {
  border: 2px solid #001219;
  background-color: #ee9800;
  height: 100px;
  order: 1;
  width: 30%;
  flex-grow: 2;
}
/* Note : never use width inside of flexbox. Flex basis has to do with how wide is the box sort of?*/
.flex2 {
  order: 2;
  flex-basis: 25%;
}
