/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* turn off margin and padding and set font size for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    353deg,
    rgba(148, 210, 189, 1) 40%,
    rgba(61, 147, 151, 1) 100%
  );
}

figure {
  margin: 0;
  padding: 0;
}
